# Week 2 - The Basics and Pandas

The aim of this labsheet is to recap some basics of Python programming and introduce the use of Pandas. If you struggle with this labsheet, please get in touch with the MO and demonstrators to get further support.

In this and in every lab script, instructions that you should follow are in **bold**.


## Index: <a id='index'></a>
1. [Jupyter](#Jupyter)
1. [Data Types](#types)
1. [Functions](#functions)
1. [Format strings](#strings)
1. [Overview of Pandas](#pandas)
1. [Reading Data from Files](#files)

## Introduction to Jupyter [^](#index) <a id='jupyter'></a>

Jupyter notebooks are a user-friendly way of running snippets of code and displaying text or graphical results: it's easy to edit your code or to share the results. They are a very convenient way to do initial exploration of a data set or algorithm, although they are *not* necessarily the best way of running a completed program. All of the computer labs will be Jupyter notebooks.

The editable boxes you can type code into are called *cells*. To evaluate a cell, simply make sure that the cursor is in the cell (you may need to double-click it) then press `Shift` + `Enter`. As an example, **enter a simple arithmetic operation, say `2 + 2`, into the cell below, and evaluate it:**

In [ ]:
2+2

You will see that this cell now has a number, like `In [1]`, so that you can refer back to it. Jupyter will display the result of the final calculation in a cell: the output from this one, `Out[1]: 4`, will now be displayed beneath it. And your cursor will have been moved forward to the next cell.

(You can also type `Ctrl` + `Enter` to run the cell and keep the cursor inside it – perhaps for more editing – or `Alt` + `Enter` to run the cell and insert a new one beneath it. These and many other commands can be found in the *command palette* by clicking the keyboard icon at the top of the page.)

### Help
There is a command line help function that enables a programmer to learn about the syntax related to a particular
built-in Python command. This is `help()`.

Type `help(help)` in the cell below and run the cell. This shows you how to use the help function.

In [ ]:
help(list)

### Numbers
In mathematics there are different types of number. Programming languages are no different. The following
types of number variable exist:
 - Integer: This includes zero, positive and negative whole numbers without a fractional part.
 - Float: This includes positive and negative numbers that are not whole numbers. They are represented using a decimal point with digits before and after the decimal point.
 - Complex: Complex numbers include combination of the sets of real and imaginary numbers. These are represented by two components, the real part denoted by some number and the imaginary part where that number is followed by the symbol j.
 - Boolean: This is a data type that has value True or False. A non-null variable (non zero number) has a boolean value of True. A null variable or zero valued number has a boolean value of False.

Python uses "duck typing": variables and numbers don't need to have their data type predefined, but change automatically as you use them. Nonetheless, it's often important to be aware of what's going on behind the scenes.

Short name | English name               | Example
-----------|----------------------------|---------
`int`      | integer                    | 3
`float`    | floating-point number      | `3.5e-9`$=3.5\times10^{-9}$
`complex`  | complex number             | `1 + 2j`$=1+2\sqrt{-1}$
`bool`     | Boolean (true/false) value | `True `

In [ ]:
x = 5.2321
ix = int(x)
fx = float(x)
cx = complex(x)
bx = bool(x)

print("x = ", x)
print("x cast as an integer = ", ix)
print("x cast as a float = ", fx)
print("x cast as a complex number = ", cx)
print("x cast as a boolean number = ", bx)

What happens if x is an integer number? **Try it out below**

what happens if x is a fraction? Try it out below.

What if x is very very small?

Is x ever small enough to make a boolean `False`?

### Operators
Operators allow to manipulate variavbles and perform calculations in Python. Below are some of the simplest and most useful ones:

|Operator | Name | Description | Example usage|
|---------|------|-------------|--------|
|=  | Assignment operator | This is used to set a value to a variable | `x=5`|
|+  | Addition operator | This is used to add two quantities together | `x=5+4`|
|+= | Increment operator | This is used to add an increment to a quantity | `x+=1`|
|-  | Subtraction operator | This is used to subtract two quantities | `x=5-3`|
|-= | Decrement operator | This is used to subtract an increment from a quantity | `x-=1`|
|/  | Divide operator | This is used to divide two quantities | `x=5/3`|
|*  | Multiplication operator | This is used to multiply two quantities | `x=5*3`|
|%  | Modulo operator | This is used to compute the remainder of the division of two quantities | `x=5%3`|
|** | Exponent operator | This is used to raise some quantity to a power | `x=5**3`|

**Try the effect of each of these operators in the cells below and print out the results.** Add more cells with necessary.

### Mean, median, mode

**Write an expression** that calculates the mean of these 5 numbers: 3, 10, 7, 44, 10
The answer should be 14.8. Did you get the right result? If not, check your parenthesis and re-evaluate the cell.

**What is the median and mode?**

Add a cell below, change the cell type to `Markdown` (select the cell and using the drop down menu at the top you can change the type from `Code` to `Markdown`), add the definition of mean, median, and mode. You use one star ( * ) on each side of a sentence/word to make it *italics*. You can use two stars ( ** ) on each side of a sentence or word to make it **bold**.

You can type more than a single line into a cell. For instance, consider the simple program below. This calculates the mean of three numbers (a, b, c). **Evaluate this cell:**

In [ ]:
a = 3
b = 10
c = 7

mean = (a+b+c)/3

print(mean)

Now choose a different time, say a=20. **Edit the cell above, evaluate it**, and confirm that the program prints the correct answer 12.3.

## Data types  [^](#index) <a id='types'></a>
There are data types that we might consider "collections": sequences or sets of data. Some of these are the following:

Short name | Example | Note
-----------|---------|------
`str`   | "Hello"           | A string is essentially just a sequence of characters. Mutable (can be changed).
`list`  | `['a', 'b', 'a']` | Mutable (can be changed).
`tuple` | `('a', 'b', 'a')` | Immutable. Generated automatically if a list of items is given.
`dict`  | `{'a': 1, 'b': 2}`| Indexed by a set of *keys* rather than just numbers.
`set`   | `{'a', 'b'}`      | Can only have any given entry once.

Don't worry if the "Note" column doesn't make too much sense at this stage: it's provided here just for reference. In the next section we'll explore the use of some of these data types (the rest will come next lab).

### Lists

As the name suggests, a Python `list` is just an ordered collection of data. Recall that these are written within square brackets. For instance, the code below creates a list of three items. (From now on, when you come to a cell containing code, you should **evaluate it.**)

In [ ]:
my_list = ['Hello', 2, 3.14159]

Note that the three *elements* of the list are all of different types: a string, an integer, and a floating-point number. We can reference elements of the list also using square brackets; note that the numbering starts from zero:

In [ ]:
my_list[0]

Now try to access the first and second element too:

We can also choose a subsection of the list – what in Python is often called a *slice* – by using two indices with a colon:

In [ ]:
my_list[1:3]

Note the way it works: the first index (`mylist[1]`) is *included*, the second (`mylist[3]`) *not*. This can be a little confusing, but has the advantage that the number of elements in the slice `[m:n]` is always `n - m`.

Either `m` or `n` can be omitted in slice notation: this just makes a slice that goes from the beginning or to the end of a list:

In [ ]:
my_list[:2]

The length of a list is given by the built-in function `len`:

In [ ]:
len(my_list)

**Try typing `?len` in the cell below and evaluating it.** This is a useful way to find out more about a Python command or function you're not sure about using! Again `Shift`-`Tab` is an alternative way to do the same thing.

You can use the `append` method to add a single item to a list:

("Method" here means a function that "belongs" to the `list` type. The syntax is to put a full stop `.` after the name of the list (or whatever) then add the name of the method, as below.)

In [ ]:
my_list.append("I'm new!") # note that I use double quotes to easily include a single quote in the string
print(my_list)

Alternatively, if you have lots of items to add, you can combine lists by using the ordinary `+` symbol:

In [ ]:
[1, 2, 3] + [7, 8, 9]

Similarly we can `pack` elements into a list or `unpack` a list into its elements. For example the code below makes a list out of three elements.

In [ ]:
a = 5
b = 6
c = 7
mylist = [a,b,c]
print(mylist)

If we know that our list has 3 elements, we can unpack it, like the following:

In [ ]:
d, e, f = mylist
print(d,e,f)

Similarly take the following list, and **define the `name`, `age`, and `job` using the unpacking method.**

In [ ]:
employee = ["Jane Doe", "30", "Software Engineer"]
...
print ("Employ name is", name, ", age is", age, " and job is", job)

### Importing from modules

Python allows programmers to bundle up collections of variables, functions, and other objects such as classes into modules that can easily be imported into other projects. One reason Python is such an attractive programming language is the enormous library of modules to help with almost any imaginable type of calculation.

The `numpy` module has a lot of useful functions available that we will want to use in the rest of this labsheet. 

**Run the cell below**

In [ ]:
import numpy as np

Some useful numpy functions are:

Name | Description
-----|-----
argmax  | Return index of maximum element in array
argmin  | Return index of minimum element in array
average | Compute the weighted average
ceil | Round up to the nearest integer
cov | Estimate the covariance matrix
floor | Round down to the nearest integer
max | Return maximum element of array
mean | Arithmetic mean
median | Determine the median
min | Return minimum element of array
prod | Return the product
std | Compute the standard deviation
sum | Compute the sum
unique | Find the unique elements of an array
var | Compute the variance

**Try them out with the following array:**

In [ ]:
a = [10, 10, 14, 22, 35.4, 85, 10, 22, 30, 20, 40, 92]
print(a)

### Arrays vs Lists
An array is also a data structure that stores a collection of items. Like lists, arrays are ordered, mutable, enclosed in square brackets, and able to store non-unique items. Here's an example array:

In [ ]:
my_array = np.array([10,12, "hello"])
my_array[2]

The main difference between arrays and lists is that arrays can handle mathematical operations and lists cannot. **Evaluate the cells below and try it out.**

In [ ]:
my_list = [10, 15, 15, 20, 25, 30, 32]
division = my_list/3
print(division)

Now let's see if we use an array instead:

In [ ]:
my_array = np.array([10, 15, 15, 20, 25, 30, 32])
division = my_array/3
print(division)

Can you cast a list as an array?

In [ ]:
my_list = [10, 15, 15, 20, 25, 30, 32]
my_array = np.array(my_list)
division = my_array/3
print(division)

Arrays and list also have different behaviours when using the symbol `+` that is used to concatenate lists or to add arrays. The cell below defines two lists and two arrays. **Write an expression to sum the two lists and the arrays and comment on their differences**:

In [ ]:
a_list = [1,2,3,4,5]
b_list = [5,4,3,2,1]
a_array = np.array(a_list)
b_array = np.array(b_list)

<div style="background-color:#C2F5DD">

## Exercise 1

Write an expression to calculate the variance of `my_array` and compare it to `np.var(my_array)`. First, let's recall the definition of the variance:
$$ \dfrac{1}{N} \sum_{i=1}^{N} (x_i - \overline{x})^2$$
One can notice, that this is basically the mean of the array $(x_i - \overline{x})^2$. You can do this in 4 steps:

1) **Write** an expression for the mean of `my_array`
2) **Define** a new array as the difference between `my_array` and its mean
3) **Square** your new array
4) And **calculate** the mean of `new_array_squared`. Compare this to the variance calculated with `numpy`.

<div style="background-color:#C2F5DD">

## Exercise 2
Write an expression to find the mode of `my_array`. 
Suggestion: you can use the `numpy` functions `unique` and `argmax` to help you with this.

## Functions  [^](#index) <a id='functions'></a>

In Python we can wrap up any piece of code, especially if we might want to re-use it, into a *function*. To do this we use the keyword `def`. As an example, let's turn the simple program above into a function. **Evaluate the cell below:**

In [ ]:
def average_of_three_numbers(a, b, c):
    m = (a+b+c)/3
    return m

Some points to notice:
1. We have given our function the name `average_of_three_numbers`. Descriptive names are always good!
1. The function has three *arguments*, `a`, `b`, and `c`. These go in brackets after the function name. Rather than setting `a`, `b`, and `c` explicitly, as we did in the previous program, we will specify these when we call the function.
1. We have shown which lines of code are part of the function by pressing `Tab` before them to indent them. Anything indented is part of the function; anything on the same level as the `def` keyword is not. This way of delineating blocks of code is common in Python, as we'll see.
1. Rather than printing the result, we use the keyword `return`. This specifies the "result" of running this code: when we *call* this function, it will be replaced by the value it returns, here the value of the variable `m`. (We'll explore this point in a little more detail in a few moments.)

Putting this all together, we can now *call* our function. In the cell below, **type in "av", then press `Tab`**. You will see that Jupyter recognises a name we've previously used, and completes `average_of_three_numbers` for you. **Keep typing so that the cell reads `average_of_three_numbers(10.5, 782.3, 35)`, then evaluate it.**

Let's redefine the function a little. **Evaluate the cell below:**

In [ ]:
def average_of_three_numbers(a, b, c=10):
    """Calculates the average of three numbers a, b, c."""
    m = (a+b+c)/3
    return m

(Note that executing this code has overwritten the previous definition of the function. If you want to return to the previous version, of course you can just scroll up and evaluate the original cell again.)

There are two changes in this version. First, we have added a string that describes what the function does to the second line, as a helpful form of documentation. **To see what this does, type `?average_of_three_numbers`** (using `Tab`-completion if you like!) **in the cell below and evaluate it:**

As an alternative way of doing the same thing, **type `average_of_three_numbers` and then `Shift`+`Tab`.**

This way of displaying documentation is available for all functions, not just ones we've defined ourselves; it comes in very handy when using built-in functions or those that we import from pre-written modules (which we'll talk more about next lab).

The second change is that we have specified a *default* value of `c`, here 10. This means that we no longer have to specify a value of `c` when we call the function. To demonstrate, **type `average_of_three_numbers(9.5, 2)` below and evaluate the cell.**

What happens if you try calling the function with no arguments at all, `average_of_three_numbers()`? **Create a new cell below and try this out. Then create a Markdown cell below it and type a sentence or two of explanation.**

The `TypeError` shows that two required arguments, `a` and `b`, were not provided.

### Returning values *vs* printing output

Jupyter notebooks have the useful function that they automatically print out the value of the *last expression* in a cell. So when you evaluated `average_of_three_numbers(9.5, 2)`, Jupyter printed out the value of the average it calculated. You might think it would be equally acceptable to write a function that explicitly prints the value it calculates, something like the following:

In [ ]:
def average_of_three_numbers_wrong(a, b, c=10):
    """Calculates the average of three numbers a, b, c.
    Prints the answer rather than returning it, which is a coding mistake!"""
    m = (a+b+c)/3
    print(m)

Now `average_of_three_numbers_wrong(9.5, 2)` should give output that looks very similar to `average_of_three_numbers(9.5, 2)`. **Check this.**

In [ ]:
average_of_three_numbers_wrong(9.5, 2)

But this version is not nearly as useful if we want to do anything further with the results of our calculation. For instance, suppose that we want to add 100 to the average. **Evaluate the following cells. Can you explain why the first version works and the "wrong" one doesn't?**

In [ ]:
100 + average_of_three_numbers(9.5, 2)

In [ ]:
100 + average_of_three_numbers_wrong(9.5, 2)

### Branching

Almost all algorithms have *decision points*, where what happens next has to be decided based on, say, the value of a variable. In Python this is done using the `if` statement. **Evaluate the following cell.**

(Note the *comment* starting with the `#` character. It is a good idea to leave comments throughout your code to explain *why* you are doing what you're doing.)

In [ ]:
number = -3

# Check for an acceptable value of `number`.
if number > 0:
    print (number, " is positive")

**Now change the first line, where `number` is defined, *without changing anything in the subsequent code*, so that some output will be printed, and evaluate the cell again to check.**

Sometimes we want to use one set of instructions if a condition holds, and another if it does not. **Evaluate the following cell:**

In [ ]:
number = -3

if number > 0:
    print (number, "is positive")
else:
    print (number, "is negative or zero")

If we want to chain lots of these statements together, the `elif` statement comes in handy: this is short for `else if`. **Evaluate the following cell.**

(Note, incidentally, the difference between the *assignment* operator `=` on the first line, used to set `number` to -3, and the *comparison* operator `==` later on, used to compare `number` to zero.)

In [ ]:
number = -3

if number > 0:
    print (number, "is positive")
elif number == 0:
    print (number, "is zero")
else:
    print (number, "is negative")

Consider the following function. **Try evaluating it with different values of the argument N. What is wrong with its logic? Can you fix it?**

In [ ]:
def check_input(N):
    """Checks that an input number is within the range 1-10."""
    if N < 1:
        print("Too low, please try again.")
    if N > 10:
        print("Too high, please try again.")
    else:
        print("Valid input.")

In [ ]:
check_input(-2)

##

Some useful operators in branching statements are:

|Operator | Name | Description|
|--|--|--|
| > | Greater than | This is used to compute the logical comparison of the values of two quantities.| 
| < | Less than | This is used to compute the logical comparison of the values of two quantities.| 
| >= | Greater than or equal to | This is used to compute the logical comparison of the values of two quantities.| 
| <= | Less than or equal to | This is used to compute the logical comparison of the values of two quantities.| 
| == | Value comparison | Test if the values of two quantities are equal.| 
| != | Value comparison | Test if the values of two quantities are not equal.| 
| or | Logical or | A or B Return the logical value True if either A or B is non-null (or numerically non-zero).| 
| and | Logical and | A and B Return the logical value True if both A and B are non-null (or numerically non-zero).| 
| not | Logical not | not A Return the logical value True if A is null (or zero).|

Now let's take these concepts together and **write** a function that check if a number is even:

In [ ]:
def is_it_even(N):
    ...

In [ ]:
is_it_even(1)

In [ ]:
is_it_even(10)

## Aside: Format strings  [^](#index) <a id='strings'></a>

This section is all about aesthetics – but it's nice to be able to make output look well-laid out and professional!

The `format()` function is a string *method* – a function that applies only to strings. It replaces curly brackets `{}` in the string with the values of its arguments. Consider the following simple example:

In [ ]:
"{} is a moon of {}".format("Io", "Jupiter")

You can include information in the curly brackets to specify exactly how a value should be converted to a string. This information always comes after a colon `:` and ends with a letter specifying the sort of number that should be printed. Common examples include

Letter | Meaning
------ | -------
   `f` | floating-point number, usual notation
   `e` | floating-point number, scientific notation
   `d` | integer, decimal
   `s` | string

In between, we can specify the number of spaces that should be left to print the number and, where relevant, the number of decimal places that should be used:

In [ ]:
from numpy import pi

print("pi  = {}".format(pi))         # no special format information given
print("pi  = {:10.5f}".format(pi))   # float, 10 spaces, 5 decimal places
print("pi  = {:8.2f}".format(pi))    # float, 8 spaces, 2 decimal places
print("pi  = {:8.2e}".format(pi))    # float, scientific notation, 8 spaces, 2 decimal places
print("pi  > {:8d}".format(3))       # decimal integer, 8 spaces
print("pie = {:8s}".format('apple')) # string, 8 spaces (by default left-aligned)

<div style="background-color:#C2F5DD">

## Exercise 3

1) Define a simple function to greet someone (use default values for arguments)
2) Call the function without any input to verify that the default values work.
3) Call the function with different inputs to verify that the function works as expected.
4) Define another function that determines whether a number is even or odd
5) Call the function and store the result, then print the result
6) Define a function that calls the first two functions and greets someone and displays whether their age is even or odd 

Note: this is a super easy exercise that just let you to get familiar with defining and calling functions.

<hr style="border:2px solid gray">

## Introduction to Pandas  [^](#index) <a id='pandas'></a>

**Pandas** is a Python library that can be used within a Jupyter notebook to easily manipulate and analise data. With Pandas, you can read in data from various sources, such as CSV files, SQL tables, or Excel spreadsheets, and then perform operations on that data, such as filtering, sorting, grouping, and aggregating. You can also visualize your data using built-in plotting functions. Pandas provides a convenient and efficient way to work with data in Jupyter notebooks, making it a popular choice for data analysis and data science projects.

Pandas offers two powerful data structures for data analysis: **Series** and **DataFrames**. While they may seem similar at first glance, their key differences dictate when to use one over the other. Here's a breakdown:

**Dimensions**
 - **Series:** A one-dimensional (1D) array representing a single column of data with an index for labeling observations.
 - **DataFrame:** A two-dimensional (2D) table-like structure holding multiple columns (Series) with their own labels and an optional row index (like a spreadsheet).

**Data Types**
 - **Series:** Holds data of one type (e.g., all integers, all strings).
 - **DataFrame:** Can hold columns of different data types (e.g., one column for dates, another for names, another for prices).

**Functionality**
 - **Series:** Efficient for analyzing single columns, performing basic operations like sorting, filtering, and calculations.
 - **DataFrame:** Powerful for multi-column analysis, including data merging, joins, grouping, and more complex manipulations across multiple columns.

**Use Cases**
 - **Series:** Ideal for storing timestamps, temperature readings, stock prices, etc. Useful for data exploration, pre-processing, and analyzing trends in one variable.
 - **DataFrame:** Perfect for representing customer data, financial records, scientific measurements, etc. Suitable for comprehensive analysis, hypothesis testing, and building statistical models involving multiple variables.

**Analogy:** Imagine a bookshelf. A Series is like a single book containing one story - informative but limited. A DataFrame is like an entire shelf storing various books on different topics - each book (Series) offers specific information, but together they paint a larger picture and allow for diverse analysis.

Choosing between Series and DataFrames depends on your data structure and analysis needs. While knowing the difference between the two is important, we will most often use **DataFrames**.

For more exercises and tutorials on Pandas:
 - https://pandas.pydata.org/docs/user_guide/index.html#user-guide

### Creating a DataFrame  [^](#index) <a id='create'></a>

A DataFrame is a 2D data structure that is composed of the following components:
- 1) The data
- 2) The index
    - This is the row number of the DataFrame
- 3) The columns
    - Contains the data taken at each index, labelled with headers

The information at the 'top' of the DataFrame contains are known as **headers**. These allow you to access your data without needing to use indices. The cell below shows two equivalent ways to create a DataFrame.

In [ ]:
import pandas as pd

# Create a simple dataset of people

data={'Name':["Anisha","Alice","Jenni", "Mei","Tahnee", "Nina"],
     'Location':["London","Amsterdam","Glasgow", "Sao Paulo","Vancouver", "Abuja"],
     'Age':[38,20,27,55,71,13]}

data_pandas=pd.DataFrame(data)

display(data_pandas)

The first column is the **index**, and you can be used to specify the data you want to display.

In [ ]:
display(data_pandas[2:4])

In [ ]:
# Select a column
name_column = data_pandas['Name']
display(name_column)

In [ ]:
# Select a row by index
first_row = data_pandas.iloc[0]
display(first_row)

In [ ]:
# Select a specific cell
cell_value = data_pandas.loc[1, 'Age']
display(cell_value)

To change the index to something more relevant (although this is not a particularly good example of this):

In [ ]:
data_pandas=pd.DataFrame(data,index=["a","b","c","d", "e", "f"])
display(data_pandas["b":"d"])

#This will display data up to and including 'b' and 'd'

### Adding and removing columns

To insert a new column into the DataFrame, simply perform:

In [ ]:
data_pandas["Pets"]=[3,2,1,5,9,0]
display(data_pandas)

You can even create columns that are functions of other columns. Pandas performs this very quickly.

In [ ]:
data_pandas["Combination"]=data_pandas.Age*data_pandas.Pets
display(data_pandas)

`Combination` is a bit of a useless column though, so we can remove it using *drop*. One of the inputs to *drop* is which axis the operations is applied to.

**Axis 0** - Axis 0 refers to the rows of a DataFrame or a Series. It is often referred to as the "index axis". When an operation is applied along axis 0, it means that the operation is applied to all of the columns in each row of the Data Frame or Series.

**Axis 1** - Axis 1 refers to the columns of a DataFrame or a Series. It is often referred to as the "column axis". When an operation is applied along axis 1, it means that the operation is applied to all of the rows in each column of the Data Frame or Series.

So a mean on axis 0 will be the mean of all the rows in each column, and a mean on axis 1 will be a mean of all the columns in each row.

In [ ]:
# Delete a column
data_pandas = data_pandas.drop('Combination', axis=1)
display(data_pandas)

In [ ]:
# Delete a row
data_pandas = data_pandas.drop('a', axis=0)
display(data_pandas)

### Filtering DataFrames
Here we are choosing to display all dogs above a given age.

In [ ]:
display(data_pandas[data_pandas.Age<30])

In [ ]:
# Filter by multiple conditions
filtered_df = data_pandas[(data_pandas['Age'] < 30) & (data_pandas['Location'] == 'Amsterdam')]
print(filtered_df)

### Sorting DataFrames
Here we are sorting the data frames in descending order by age.

In [ ]:
# Sort by a column
sorted_df = data_pandas.sort_values(by='Age', ascending=False)
print(sorted_df)

In [ ]:
# Sort by multiple columns
sorted_df = data_pandas.sort_values(by=['Location', 'Age'], ascending=[True, False])
print(sorted_df)

### Statistical Analysis
You can calculate things like the correlation and covariance matrices

In [ ]:
display(data_pandas.corr(numeric_only = True))
display(data_pandas.cov(numeric_only = True))

### Displaying Data

It is possible to display your DataFrame content quite easily. Here we will cover a few common examples.

### Basic plotting

Two display a basic plot of our data, we can use:
```python
df['column name'].plot()
```

or:

```python
df.plot('x column name','y column name')
```
We only need to reference the name of the column, we don't need to know its index. For the first method we didn't set an x-axis; with that plotting nomenclature Pandas will use whatever the index is as an x-axis.

**Experiment with these methods of data plotting using our `data_pandas` DataFrame.**

Other useful data visualisation:
### Histograms

In [ ]:
import scipy as sp
import pylab as pl

histogram=data_pandas.hist()

In [ ]:
data_pandas['Pets'].plot()

In [ ]:
h1=data_pandas.hist(column="Pets")

In [ ]:
data_pandas[data_pandas.Age>20].hist(column="Pets")

### Scatter Plots

In [ ]:
data_pandas.plot(kind="scatter",x="Age",y="Pets",alpha=1)
#alpha controls the opacity of data points.
#For larger amounts of data, setting alpha to a lower value can make the plot easier to interpret

A **scatter_matrix** displays all possible combinations of the scatter plots, as well as the various histograms. Run the cell below to see what this looks like for our data. Just like with any pandas plot, this can also be filtered.

In [ ]:
import pandas.plotting as pdp
pdp.scatter_matrix(data_pandas)

In [ ]:
pdp.scatter_matrix(data_pandas[data_pandas.Age>20])

Further example of plots can be found [here](https://pandas.pydata.org/docs/user_guide/visualization.html)

<div style="background-color:#C2F5DD">

## Exercise 4

The purpose of this exercise is to get you to play around with pandas DataFrame and to consolidate the knowledge that you already have.

* Generate 5 samples with 100,000 correlated random numbers distributed according to Gaussian distributions (you can choose whatever covariance matrix that you like, although you can start with an identity matrix for simplicity). You may want to use the `numpy` function `random.multivariate_normal` for this purpose.

* Read these into a DataFrame

* Create a 6th column in your DataFrame: the values should be the second column plus the fourth column

* Verify that the covariance (and correlation) matrices are what you would expect

* Display your data

<hr style="border:2px solid gray">

## Reading Data from Files  [^](#index) <a id='files'></a>

You can read data from all sorts of files (csv, excel, etc) into a DataFrames. Sometimes (especially with csv) you have to be careful with the separator

In [ ]:
df_pound_dollar=pd.read_csv(r'pound-dollar-exchange-rate-historical-chart.csv')
#'r' refers to raw string, it is required to read in the file with no bugs

In [ ]:
display(df_pound_dollar)

This will display a lot of information. We can reduce this display and make the data easier to interpret at a glance using <span style="color:blue">.head()</span> and <span style="color:blue">.head()</span>. To get a top level summary of the data, we can use the <span style="color:blue">.info()</span> command. For example:

In [ ]:
display(df_pound_dollar.head())

print ('\n And the summary of the data: \n')

display(df_pound_dollar.info())

<div style="background-color:#C2F5DD">

## Exercise 5

Let's analyse some data from the euro/dollar and pound/dollar exchange rates.
1) Read the euro-dollar exchange rate file into a dataframe and merge it with the pound-dollar dataframe. You may want to use the `panda` `rename` function to rename the columns.
2) Check the dataset for `NaN` and drop any instances of `NaN`.
3) Plot histograms and timeseries from the dataframe.
4) Calculate mean, variance, covariance, and correlation.
5) Plot a scatter plot of the euro-dollar vs the pound-dollar exchange. You may notice the graph showing two separate populations. Use the slice function to try to separate the two populations (*hint: the ideal index will be between 2000 and 3000*)
6) Calculate the coefficients for the linear regression $y=mx+q$ for the three samples (the total sample, and the two samples found with the split in point 5), and plot them on top of a scatter graph
$$ m = \dfrac{\sigma_{xy}}{\sigma_x^2} $$
$$ q = \overline{y}-m\overline{x} $$
You may want to use `stats.linregress` from `scipy` to calculate the coefficients.
8) Write a sentence of your interpretation of the graph.

## Saving, downloading and uploading to QMPlus (optional)

For your assignments you will be asked to upload the report files onto QMPlus. The source files can include:
 * Your jupyter notebook (optional)
 * A PDF version of your jupyter notebook

To save these two files go on `File`, and select `Download as` from the drop down menu, then select: `Notebook (ipynb)` to download the jupyter notebook (*Note that you won't be able to open this file from your computer, please upload it as is to QMPlus.*). 

Similarly, use `PDF` to download a PDF copy of your work.

Note: Only your report will be assessed. You could choose to either output the 'pdf' file from Jupyter Notebook, or write it with word (then save as a pdf file). In the first approach, you will also get familiar with the markdown commands.